 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;300;400;900&family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: Poppins, sans-serif;
  --lightblue: rgb(0, 183, 255);
  --darkblue: rgb(20, 34, 34);
  --green: rgb(16, 234, 16);
}


.App{
  overflow-y: hidden;
  min-height: 100vh;
  /* background-color: rgba(15, 13, 22, 0.699); */
}

main{
  display: grid;
  /* grid-template-columns: 20% auto; */
  min-height: 100vh;
}

.displayUsers{
  margin-top: 30px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: .5rem;
  /* margin-inline: auto; */
  width: 100%;
}

.user{
  padding: 5px;
  width: 100%;
  margin-inline: auto;
  border: 2px solid black;

}

.filteredUser{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.filteredUser .findUser{
  margin-inline: auto;
}

.user{
  display: grid;
}