/* header{
  margin-bottom: 10px;
} */
.navbar,
.links-list {
  display: flex;
}

.navbar {
  justify-content: space-between;
  padding: 15px;
  background-color: var(--darkblue);
}

.navbar a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
}

.links-list{
  gap: 1.2rem;
}
.links-list li{
  list-style: none;
}

.links-list a:hover {
  color: rgb(0, 183, 255);
}

.logout-btn{
  background-color: rgb(197, 32, 32);
  color: white;
  font-weight: 700;
  padding: 5px;
  font-size: .9rem;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}

.logout-btn:hover{
  background-color: rgb(255, 0, 0);
}