.home{
  text-align: center;
  min-width: 100vh;
}

.home h1{
  font-size: 2rem;
}

.home p{
  font-size: 1.2rem;
}

.greetings  p{
  font-size: 2.3rem;
  font-weight: 700;
  color: rgb(104, 98, 98);
}

.link-btn{
  background-color: rgb(8, 123, 158);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  transition: .4s ease-in-out;
  text-decoration: none;
  width: 20%;
  padding: 15px;
  border: none;
  border-radius: 1.2em;
  margin-inline: auto;
}


.link-btn:hover{
  background-color: rgb(9, 202, 35);
  outline: none;
}

.notLogged{
  display: flex;
  padding-top: 20px;
  min-height: 100vh;
  flex-flow: column wrap;
  gap: 1em;
}

.users-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 20px;
}

.users-list .user{
  font-size: .7em;
  text-align: left;
  /* border: 5px solid rgb(243, 19, 183); */
  border: none;
  border-radius: 1em;
  color: white;
  background-color: var(--darkblue);
}

.user .username{
  color: var(--cyanblue);
  font-weight: 700;
}

/* @media screen  and (max-width: 720px) {
  .users-list{
    display: flex;
    flex-flow: row wrap;
  }

  .users-list .user{
    flex: 1;
  }
} */