.post{
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;

}

.post h3{
    font-size: 3rem;

color: var(--darkblue);
}

.post .fields .btn-styled{
    width: 50%;
    margin: 20px auto;
    transition: .4s ease-in-out;
    position: absolute;
    left: 0;
    padding: 15px;
}


.post textarea{
    font-size: 2rem;
    overflow: auto;
    padding: 2px;
    width: 500px;
    height: 200px;
    border: 3px outset var(--darkblue);
}
