
.login-form{
  /* background-color: rgb(20, 34, 34); */
  background-color: var(--darkblue);
  color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 0px 10px;
  gap: 1em;
  justify-content: center;
  border-radius:.7em;
  outline: 5px outset var(--green);
}

.login-form > h1{
  text-align: center;
}

.login-form .logo-conteiner a{
  font-size: 2rem;
}
.fields{
  color: rgb(68, 55, 55);
}

label{
  display: grid;
  color: white;
  gap: .5em;
}

.fields input{
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 1.5em;
}

.fields .btn-styled{
  background-color: rgb(8, 123, 158);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  transition: .4s ease-in-out;
}
.fields input{
  outline: none;
}


.fields input:hover{
  outline: 5px solid rgb(8, 123, 158);
}

.fields .btn-styled:hover{
  background-color: rgb(9, 202, 35);
  outline: none;
}


.error-msg{
  color: red;
  font-size: .9rem;
}

.forgot-password{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

.create-account-link {
  color: white;
}

.create-account-link a{
  color: var(--cyanblue);
}