 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;300;400;900&family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: Poppins, sans-serif;
  --lightblue: rgb(0, 183, 255);
  --darkblue: rgb(20, 34, 34);
  --green: rgb(16, 234, 16);
  --lightgreen: rgb(36, 255, 36);
  --cyanblue: rgb(0 255 196);
  --lightgrey: #343131;
  --red:rgb(226, 8, 8);
  --light-red:rgb(255, 31, 31);
  --blue: rgb(13, 142, 182);
  --light-blue: rgb(14, 173, 221);
  --grey: rgb(104, 98, 98);
  --dark-grey: rgb(32 29 29);
  font-size: 8px;
}


.App{
  overflow-y: hidden;
  min-height: 100vh;
  background-color: black;
}


// .displayUsers{
//   margin-top: 30px;
//   padding: 1em;
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   font-size: .5rem;
//   width: 100%;
// }


// .filteredUser{
//   width: 100%;
//   display: flex;
//   flex-flow: column wrap;
//   text-align: center;

//     .findUser{
//         margin-inline: auto;
//     }
// }
