.logo-conteiner{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 15px;
    margin-inline: auto;
    font-size: 2.5rem;
  }
  
  .logo-conteiner a{
    color: white;
    text-decoration: none;
  }