:root{
    font-size: 8px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-columns: 200px auto 200px;
    gap: 20px;
}

// .main-content{
    
// }


// @media screen and (max-width: 800px) {
//     .main-content{
//         margin-left: 120px;
//     }
// }

// @media screen and (min-width: 801px) {
//     .main-content{
//         margin-left: 300px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .main-content{
//         margin-inline: auto;
//     }
// }