.sidebar, .categories{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  position: fixed;
  font-size: 2rem;
  background-color: black;
  gap: 20px;
  width: 150px;
  z-index: 1;
}

.logo-conteiner{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 15px;
  font-size: 2.5rem;
}

.logo-conteiner a{
  color: white;
  text-decoration: none;
}


.sidebar .links-items{
  display: flex;
  flex-flow: column wrap;
}

.sidebar .links-items li:first-child{
  background-color: var(--lightblue);
  font-weight: 700;
}

.categories h3{
  color: white;
  text-align: center;
  padding: 15px;
}
.categories li a {
  font-weight: 700;
  color: white;
  text-decoration: none;  
}

.sidebar .links-items li, .categories li{
  padding: 15px;
  display:flex;
  flex-flow: row wrap;
  gap: 1em;
  list-style: none;
}

.sidebar .links-items li:hover, .categories li:hover{
  background-color: rgb(0, 132, 255);
  background-color: rgb(255, 0, 55);

}

.sidebar svg, .categories svg{color:white}

.sidebar li{list-style: none;}

.sidebar .links-items li svg{
  height: 20px;
  width: 20px;
  font-weight: 500;
  cursor: pointer;
}

 .links-items li a{
  color: white;
  text-decoration: none;
}

.logout-btn{
  border: none;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.categories{
  right: 0;
  /* list-style: none; */
}



@media screen and (max-width:720px)  {
  .links-items li a, .logout-btn{
    display: none;
  }

  svg{
    margin-inline: auto;
  }

  .categories a{
    display: none;
  }

  .sidebar{
    width: 110px;
  }
}