.sidebar{
  border-right: 1.5px solid var(--grey);
}
.sidebar, .categories{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 300px;
  position: fixed;
  font-size: 2.2rem;
  background-color: black;
  gap: 20px;
  z-index: 1;
}

.logo-conteiner{
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 15px;
  margin-inline: auto;
  font-size: 2.5rem;
}

.logo-conteiner a{
  color: white;
  text-decoration: none;
}


.sidebar .links-list{
  display: flex;
  flex-flow: column wrap;
}

.sidebar .links-list a:first-child{
  background-color: var(--lightblue);
  font-weight: 700;
}

.svg-link-conteiner{
  width: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.categories h3{
  color: white;
  text-align: center;
  padding: 15px;
}
.categories li a {
  font-weight: 700;
  color: white;
  text-decoration: none;  
}

.sidebar .links-list a, .categories li{
    padding: 15px;
    display: flex;
    margin-inline: auto;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.sidebar .links-list a:hover, .categories li:hover{
  background-color: rgb(0, 132, 255);
  background-color: rgb(255, 0, 55);

}

.sidebar svg, .categories svg{color:white}

.sidebar li{list-style: none;}

.sidebar .links-list li svg{
  height: 20px;
  width: 20px;
  font-weight: 500;
  cursor: pointer;
}

 .links-list a{
  color: white;
  text-decoration: none;
}

.logout-btn{
  border: none;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.categories{
  right: 0;
  /* list-style: none; */
}

@media screen and (max-width:720px) {
  .categories{
    font-size: 1.8rem;
  }
}

@media screen and (max-width:800px)  {
  .links-list li a, .logout-btn{
    display: none;
  }

  

  .categories a{
    display: none;
  }

  .sidebar{
    width: 110px;
  }
.svg-link-conteiner{
  width: 80px;
}
}
