.register-conteiner{
  /* height: 100%; */
  gap: 1.5em;
  padding: 55px 1em;
  display: grid;
  width: 375px;
}

.register-form{
  background-color: var(--darkblue);
  color: white;
  /* gap: .2rem; */
  font-weight: 2.2rem;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  /* margin: auto auto; */
  max-height: auto;
  justify-content: center;
  border-radius:.1em;
  outline: 3px outset var(--green);
}

.register-form > h1{
  text-align: center;
  margin-bottom: 8px;
}

.register-form .logo-conteiner, .register-form .logo-conteiner a{
  font-size: 4rem;
}
.fields{
  color: rgb(68, 55, 55);
  display: grid;
  gap: 1.5em;
}

.register-form .logo-conteiner{
  font-size: 4rem;
  margin-inline: auto;
}

label{
  display: grid;
  color: white;
  gap: .5em;
}

.fields input{
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: .1em;
}

.btn-styled{
  background-color: rgb(8, 123, 158);
  color: white;
  cursor: pointer;
  padding: 12px;
  font-weight: 700;
  font-size: 2rem;
  transition: .4s ease-in-out;
}
.fields input{
  outline: none;
}


.fields input:hover{
  outline: 5px solid rgb(8, 123, 158);
}

.fields .btn-styled:hover{
  background-color: rgb(9, 202, 35);
  outline: none;
}


.error-msg{
  color: red;
  font-size: 1.8rem;
  font-weight: 700;
}

.forgot-password{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 10px;
  font-size: 2rem;
}

.create-account-link {
  color: white;
  text-align: center;
  margin: 10px;
  font-size: 2rem;

}

.create-account-link a{
  color: var(--cyanblue);
}

.policy-link{
  text-align: center;
  color: white;
}

.help-conteiner{
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5em;
  margin-bottom:10px;
  justify-content: center;
}

.help-conteiner div{
  outline: 3px outset var(--green);
}