.greetings h1{
    color: white;
    font-size: 3.2rem;
}

.msg{
    color: var(--cyanblue);
    font-size: 4rem;
}

.posts-list{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: flex-start;
    padding: 0;
    gap: 1em;
}

.posts-list .user{
    margin-left: 0;
    height: 180px;
    width: 100%;
    border-radius: .7em;
    padding: 10px;
    text-align: justify;
    font-size: 2rem;
    background-color: black;
    color: white;
    /* display: flex; */
    /* flex-flow: column wrap; */
    gap: .7em;
}

.post-status{
    display: flex;
    justify-content: center;
    border-top: 2px solid gray;
    padding: 5px;
    gap: 2em;
}

.post-status svg{
    font-size: 2.5rem;
    color: var(--cyanblue);
}

.post-status button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    color: white;
}

@media screen and (max-width: 720px) {
    .posts-list .user{
        width: 100%;
        font-size: 1.8rem;
    }
}