.greetings{
    /* border: 1.5px solid var(--grey); */
    border: 1.5px solid var(--green);

    padding: 10px;
}
.greetings h1{
    color: white;

    /* color: var(--cyanblue); */
    font-size: 3.2rem;
}

.greetings .msg{
    color: white;

    /* color: var(--cyanblue); */
    font-size: 4rem;
}

